@use "/src/styles/utils";

.pokemon-card {
  width: 100%;
  height: pxToRem(500px);
  max-width: pxToRem(200px);
  max-height: pxToRem(250px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $color-white;
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: pxToRem(8px);

  &__header {
    text-align: end;
    padding: pxToRem(24px) pxToRem(8px) pxToRem(4px) pxToRem(8px);
  }

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    text-align: center;
    color: $color-gray-dark;
    min-height: pxToRem(100px);
    align-items: end;
    display: flex;
    justify-content: center;
    border-top-left-radius: pxToRem(7px);
    border-top-right-radius: pxToRem(7px);
    background-color: $color-gray-background;
    font-size: pxToRem(20px);
  }
}
