@use "/src/styles/utils";

.login {
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInBg 0.6s ease forwards;

  &__form {
    width: pxToRem(400px);
    padding: pxToRem(32px);
    background-color: $color-primary;
    border-radius: pxToRem(12px);
    box-shadow: 0px 1px 3px 1px #00000033;
    display: flex;
    flex-direction: column;
    gap: pxToRem(16px);
    animation: fadeSlideUp 0.8s ease forwards;
  }

  &__title {
    text-align: center;
    margin-bottom: pxToRem(24px);
    font-size: pxToRem(24px);
    font-weight: 600;
    display: flex;
    gap: pxToRem(32px);
    flex-direction: column;
    color: $color-white;
    justify-content: center;
    align-items: center;
  }

  &__group {
    margin-bottom: pxToRem(16px);
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: pxToRem(12px) pxToRem(16px);
    border: 1px solid #ccc;
    border-radius: pxToRem(8px);
    font-size: pxToRem(16px);
    outline: none;

    &:focus {
      border-color: #007bff;
    }
  }

  &__error {
    color: $color-white;
    font-size: pxToRem(12px);
    margin-top: pxToRem(4px);
  }

  &__button {
    padding: pxToRem(12px);
    border: none;
    border-radius: pxToRem(8px);
    background-color: $color-alternative;
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(pxToRem(40px));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
