@use "/src/styles/utils";

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(84, 83, 83, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  pointer-events: all;
}

.pokemon-list-container {
  position: relative;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(pxToRem(200px), 1fr));
  gap: pxToRem(16px);
  background: $color-white;
  padding-top: pxToRem(24px);
  border-radius: pxToRem(8px);
  justify-content: center;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  grid-auto-rows: pxToRem(200px);
  min-height: 100vh;
  height: 100%;
  padding: pxToRem(12px);

  @include media-xs() {
    gap: pxToRem(8px);
    grid-auto-rows: pxToRem(200px);
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(136px), 1fr));
  }

  @include media-sm() {
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(pxToRem(184px), 1fr));
  }

  @include media-gtmd() {
    grid-auto-rows: pxToRem(350px);
    grid-template-columns: repeat(auto-fit, minmax(pxToRem(232px), 1fr));
  }
}
