@use "/src/styles/utils";

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(pxToRem(150px), 1fr));
  gap: pxToRem(16px);
  background: $color-white;
  padding-top: pxToRem(24px);
  border-radius: pxToRem(8px);
  justify-content: center;
  justify-items: center;
  box-shadow: 0px 1px 3px 1px #00000040 inset;
  height: 100vh;

  @include media-xs() {
    gap: pxToRem(8px);
  }
}
