@use "/src/styles/utils";

.pokemon-type {
  width: max-content;
  padding-top: utils.pxToRem(2px);
  padding-bottom: utils.pxToRem(2px);
  padding-left: utils.pxToRem(8px);
  padding-right: utils.pxToRem(8px);
  border-radius: utils.pxToRem(10px);
  color: $color-white;
  font-size: clamp(10px, 2vw, 24px);
}
