@use "/src/styles/utils";

.pokemon-type {
  width: max-content;
  padding-top: utils.pxToRem(2px);
  padding-bottom: utils.pxToRem(2px);
  padding-left: utils.pxToRem(8px);
  padding-right: utils.pxToRem(8px);
  border-radius: utils.pxToRem(10px);
  color: $color-white;

  &.normal {
    background-color: $color-type-normal;
  }

  &.fire {
    background-color: $color-type-fire;
  }

  &.water {
    background-color: $color-type-water;
  }

  &.grass {
    background-color: $color-type-grass;
  }

  &.electric {
    background-color: $color-type-electric;
  }
  &.ice {
    background-color: $color-type-ice;
  }
  &.fighting {
    background-color: $color-type-fighting;
  }
  &.poison {
    background-color: $color-type-poison;
  }
  &.ground {
    background-color: $color-type-ground;
  }
  &.flying {
    background-color: $color-type-flying;
  }
  &.psychic {
    background-color: $color-type-psychic;
  }
  &.bug {
    background-color: $color-type-bug;
  }
  &.rock {
    background-color: $color-type-rock;
  }
  &.ghost {
    background-color: $color-type-ghost;
  }

  &.dragon {
    background-color: $color-type-dragon;
  }
  &.dark {
    background-color: $color-type-dark;
  }

  &.steel {
    background-color: $color-type-steel;
  }

  &.fairy {
    background-color: $color-type-fairy;
  }
}
