@use "/src/styles/utils";

.layout-spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation: spin 1s linear infinite;

  &.small {
    width: pxToRem(16px);
    height: pxToRem(16px);
    border-width: 2px;
  }

  &.medium {
    width: pxToRem(40px);
    height: pxToRem(40px);
    border-width: 4px;
  }

  &.with-icon {
    border-color: transparent;
    animation: none;

    .spinner-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      animation: spin 1.2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
