@use "/src/styles/utils";

.pokemon-filter {
  display: flex;
  align-items: center;
  gap: pxToRem(16px);

  &__input {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: pxToRem(16px);
    padding: pxToRem(8px) pxToRem(16px) pxToRem(8px) pxToRem(12px);
    transition: all 0.25s ease;
    font-size: clamp(10px, 2.5vw, 16px);

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 1rem;
      color: $color-gray-dark;

      &::placeholder {
        color: $color-gray-medium;
        font-size: clamp(10px, 2.5vw, 16px);
      }

      &:focus + .clear {
        display: block;
      }
    }

    &:focus-within {
      box-shadow: 0px 1px 3px 1px #00000033;
    }

    &:not(:focus-within) {
      box-shadow: 0px 1px 3px 1px #00000040 inset;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    max-width: pxToRem(32px);
    max-height: pxToRem(32px);
    padding: pxToRem(8px);
    box-shadow: 0px 1px 3px 1px #00000040 inset;
    transition: all 0.25s ease;
    cursor: pointer;

    img {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    span {
      font-size: 1rem;
      color: $color-gray-dark;
    }

    &:hover {
      box-shadow: 0px 1px 3px 1px #00000033;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: pxToRem(12px);
    cursor: pointer;
    font-size: 1rem;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      width: pxToRem(16px);
      height: pxToRem(16px);
      border: 2px solid $color-primary;
      background-color: $color-white;
      flex-shrink: 0;
      transition: all 0.2s ease;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: none;
        left: pxToRem(3px);
        top: 0px;
        width: pxToRem(3px);
        height: pxToRem(8px);
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    input:checked ~ .checkmark {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }

    &:hover .checkmark {
      border-color: $color-primary;
    }
  }

  &__radio {
    display: flex;
    align-items: center;
    gap: pxToRem(12px);
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
    color: $color-gray-dark;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .radiomark {
      width: pxToRem(20px);
      height: pxToRem(20px);
      border: 2px solid $color-primary;
      border-radius: 50%;
      background-color: $color-white;
      flex-shrink: 0;
      position: relative;
      transition: all 0.25s ease;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: pxToRem(10px);
        height: pxToRem(10px);
        background-color: $color-primary;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.2s ease;
      }
    }

    input:checked ~ .radiomark {
      background-color: $color-white;
      border-color: $color-primary;
    }

    input:checked ~ .radiomark::after {
      transform: translate(-50%, -50%) scale(1);
    }

    &:hover .radiomark {
      box-shadow: 0 0 0 pxToRem(4px) rgba($color-primary, 0.25);
    }

    input:focus-visible ~ .radiomark {
      box-shadow: 0 0 0 pxToRem(4px) rgba($color-primary, 0.4);
    }
  }
}
