@use "/src/styles/utils";

.pokemon-summary {
  display: flex;
  flex-direction: column;
  gap: pxToRem(10px);
  width: 100%;
  margin: 0 auto;
  justify-content: center;

  &__divider {
    width: 2px;
    background-color: $color-gray-light;
    height: pxToRem(150px);
  }

  &__title {
    font-size: clamp(16px, 2vw, 24px);
  }

  &__skills {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  &__bars {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: pxToRem(500px);

    .stats {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: pxToRem(16px);
    }
  }

  &__stats {
    display: flex;
    gap: pxToRem(16px);
    align-items: center;

    &--bar {
      width: 100%;
      height: 12px;
      border-radius: 9999px;
      background: #ccc;

      .bar-value {
        height: 100%;
        background: #4caf50;
        border-radius: 9999px;
        transition: width 0.3s ease;
      }
    }
  }

  &__about {
    &--measures {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: pxToRem(500px);

      .measure__icon {
        display: flex;
        gap: 8px;
      }

      .measure__label {
        color: $color-gray-medium;
      }
    }
  }
}
